[submodule "geo"]
    path = geo
    url = https://github.com/tera-arise/arise-geometry.git
    branch = .
    shallow = true
[submodule "dat"]
    path = dat
    url = https://github.com/tera-arise/arise-data.git
    branch = .
    shallow = true
