<!DOCTYPE html>
<html lang="en-us"
      data-bs-theme="dark">
    <head>
        <title>@(ViewData["Title"] is string title ? $"{title} | " : string.Empty)@ThisAssembly.GameTitle</title>

        <partial name="_Metadata" />

        <link rel="icon"
              href="favicon.ico"
              asp-append-version="true" />

        <partial name="_Styles" />
    </head>

    <body class="container">
        <partial name="_Header" />

        @RenderBody()

        <partial name="_Footer" />

        <partial name="_Scripts" />
    </body>
</html>
